
  <% post.comments.reverse.each do |comment| %>
  <div class="post-show__content2">
    <div class="post-show__acount">
      <div class="post-show__comment-id"><%= comment.id %>：</div>
      <div class="post-show__comment-name"><%= link_to comment.user.name, user_path(comment.user) %>さん：</div>
      <div class="post-show__comment-created"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
    </div>
    <div class="post-show__comment">
      <div class="post-show__comment-body"><%= comment.comment %></div>
      <% if comment.user == current_user %>
          <div class="move-page">
            <%= link_to "削除する", variablecost_value_comment_path(post.id, comment.id), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"}, class:"move-page__delete" %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>