<div class="fixedcost_values">
  
  <div class="fixedcost_values">
    <div class="fixedcost_values"></div>
    <div class="fixedcost_values">
      <%= f.date_field :start_time %>
    </div>
  </div>
  <% unless @fixedcosts.present? %>
    <div class="fixedcost_values">
      <div class="fixedcost_values"></div>
      <div class="fixedcost_values">
        <%= link_to '項目を設定', fixedcosts_path(current_user) %>
      </div>
    </div>
  <% else %>
    <div class="fixedcost_values">
      <div class="fixedcost_values"></div>
      <div class="fixedcost_values">
        <%= f.collection_select(:fixedcost_id, fixedcosts.all, :id, :name, prompt: "選択してください") %>
      </div>
    </div>
  <% end %>
  <div class="fixedcost_values">
    <div class="fixedcost_values"></div>
    <div class="fixedcost_values">
      内容<%= f.text_field :content %>
    </div>
  </div>
  <div class="fixedcost_values">
    <div class="fixedcost_values"></div>
    <div class="fixedcost_values">
      金額<%= f.text_field :value %>
    </div>
  </div>
  <div class="fixedcost_values">
    <div class="fixedcost_values"></div>
    <div class="fixedcost_values">
      備考<%= f.text_field :description %>
    </div>
  </div>
  <div class="">
    <div class="">
<%= f.submit %>
    </div>
  </div>

</div>