<%= render 'layouts/error_messages', model: f.object %>

<div class="value-form">
  <div class="value-form__contents">
    <div class="value-form__box">
      <div class="value-form__head">日付</div>
      <div class="value-form__date">
        <%= f.date_field :start_time %>
      </div>
    </div>
<!-- 項目未設定の場合項目設定へリンク -->
    <% unless @fixedcosts.present? %>
      <div class="value-form__box">
        <div class="value-form__item-set">
          <%= link_to '項目を設定', fixedcosts_path(current_user) %>
        </div>
      </div>
    <% else %>
      <div class="value-form__box">
        <div class="value-form__head">項目選択</div>
        <div class="value-form__item">
          <%= f.collection_select(:fixedcost_id, fixedcosts.all, :id, :name, prompt: "選択してください") %>
        </div>
      </div>
    <% end %>
    <div class="value-form__box">
      <div class="value-form__head">内容</div>
      <div class="value-form__content">
        <%= f.text_field :content %>
      </div>
    </div>
    <div class="value-form__box">
      <div class="value-form__head">金額</div>
      <div class="value-form__value">
        <%= f.number_field :value %>
      </div>
    </div>
    <div class="value-form__box">
      <div class="value-form__head">備考</div>
      <div class="value-form__discription">
        <%= f.text_field :description %>
      </div>
    </div>
  </div>
  <div class="move-page">
    <%= f.submit %>
  </div>
</div>