  <% users.each do |user| %>
    <div class="user-index__content" >
  
      <div class="user-index__body" >
        <div class="user-index__account">
          <div class="user-index__h-account">
            アカウント
          </div>
          <div class="user-index__l-account">
            <%= attachment_image_tag(user, :profile_image, fallback: "user_no_image.jpg", size: '40x40', class:'user-index__image') %>
            <%= user.name %>
          </div>
        </div>
        <div id="follow_buttons_<%=user.id %>" class="user_index__follow">
          <% unless current_user == user %>
            <%= render 'relationships/follow',user: user %>
          <% end %>
        </div>
        <div class="move-page">
          <%= link_to '詳細', user_path(user), class:'move-page__user' %>
        </div>
      </div>
    
  </div>
  <% end %>
