<div class="user-info">
  <h2 class="user-info__title">ユーザー情報</h2>
  <div class="user-info__image">
    <%= attachment_image_tag(user, :profile_image, fallback: "pig_black.png", size:'60x60')%>
  </div>
  <div class="user-info__name">
    <div class="user-info__head">
      ユーザー名
    </div>
    <div class="user-info__l-name">
      <%= user.name %>
    </div>
  </div>
  <div class="user-info__introduction">
    <div class="user-info__head">
      紹介文
    </div>
    <div class="user-info__l-introduction">
      <% if user.introduction.present? %>
        <%= user.introduction %>
      <% else %>
        <div class="item-nothing">未設定</div>
      <% end %>
    </div>
  </div>
  <div class="user-info__follows">
    <div class="user-info__h-count">フォロー数：</div>
    <%= link_to following_user_path(user), class:"user-info__count" do %>
      <%= user.following.count %>
    <% end %>
  </div>
  <div class="user-info__followers">
    <div class="user-info__h-count">フォロワー数：</div>
    <%= link_to followers_user_path(user), class:"user-info__count" do %>
      <%= user.followers.count %>
    <% end %>
  </div>

    <% unless current_user == user %>
    <% else %>
      <div class="move-page">
        <%= link_to 'ユーザー情報編集',edit_user_path(user), class:'move-page__edit' %>
      </div>
      <div class="move-page">
        <%= link_to '新規投稿',new_variablecost_value_path, class:'move-page__new-post' %>
      </div>
    <% end %>

</div>