<div class="user-info">
  <h2 class="user-info__title">ユーザー情報</h2>
  <div class="user-info__image">
    <%= attachment_image_tag(user, :profile_image, fallback: "user_no_image.jpg", size:'60x60')%>
  </div>
  <div class="user-info__name">
    <div class="user-info__h-name">
      ユーザー名
    </div>
    <div class="user-info__l-name">
      <%= user.name %>
    </div>
  </div>
  <div class="user-info__introduction">
    <div class="user-info__h-introduction">
      紹介文
    </div>
    <div class="user-info__l-introduction">
      <%= user.introduction %>
    </div>
  </div>
  <div class="user-info__follows">

  </div>
  <div class="user-info__followers">

  </div>

    <% unless current_user == user %>
    <% else %>
      <div class="move-page">
        <%= link_to 'ユーザー情報編集',edit_user_path(user), class:'move-page__user-edit' %>
      </div>
      <div class="move-page">
        <%= link_to '新規投稿',new_post_path, class:'move-page__new-post' %>
      </div>
    <% end %>

</div>