<div class="user-edit">
  <h2 class="user-edit__title">ユーザー情報編集</h2>
  <div class="user-edit__contents">
    <%= form_with model:@user, local:true do |f| %>
    <div class="user-edit__box">
      <div class="user-edit__h-name">
        <%= f.label :アカウント名 %>
      </div>
      <div class="user-edit__l-name">
        <%= f.text_field :name%>
      </div>
    </div>
    <div class="user-edit__box">
      <div class="user-edit__h-image">
        <%= f.label :プロフィール画像 %>
      </div>
      <div class="user-edit__l-image">
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>
    </div>
    <div class="user-edit__box">
      <div class="user-edit__h-introduction">
        <%= f.label :紹介文 %>
      </div>
      <div class="user-edit__l-introduction">
        <%= f.text_area :introduction %>
      </div>
    </div>
      <div class="move-page__btn">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>