<%= render 'searchs/form' %>
<div class="user-edit">
  <h2 class="user-edit__title">ユーザー情報編集</h2>
    <%= form_with model:@user, local:true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="user-edit__contents">
      <div class="user-edit__box">
        <div class="user-edit__h-name">アカウント名</div>
        <div class="user-edit__l-name">
          <%= f.text_field :name%>
        </div>
      </div>
      <div class="user-edit__box">
        <div class="user-edit__h-image">プロフィール画像</div>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class:"user-edit__l-image" %>
      </div>
      <div class="user-edit__box">
        <div class="user-edit__h-introduction">紹介文</div>
        <div class="user-edit__l-introduction">
          <%= f.text_area :introduction %>
        </div>
      </div>
    </div>
    <div class="move-page">
      <%= f.submit class:"move-page__btn" %>
    </div>
    <% end %>
</div>