<div class="yield-layout">

  <div class="days">
    <h2 class="days__title">日ごとの収入一覧</h2>
    
    <%= render 'kakeibo-p/links' %>
  
    <%= form_with url: {controller: 'records', action: 'income_day'}, method: :get, local: true do |f| %>
      <%= render 'kakeibo-p/day_select', f: f %>
    <% end %>
  
    <div class="days__content1">
      <% if @start_time.present? %>
      <div class="days__box">
        <div class="days__head">日付</div>
        <div class="days__start-time">
          <%= @start_time %>
        </div>
      </div>
      <% end %>
      <% unless @income_value_total == 0 %>
        <div class="days__box">
          <div class="days__head">合計</div>
          <div class="days__value">
            <%= @income_value_total %> 円
          </div>
        </div>
      <% end %>
    </div>
    
    <% if @income_values.present? %>
      <% @income_values.each do |item| %>
        <div class="days__content2">

          <%= render 'income_values/show', item: item %>
          
          <div class="move-page">
            <%= link_to '詳細', income_value_path(item), class: 'move-page__show' %>
          </div>
        </div>
      <% end %>
      
    <% else %>
      <div class="item-nothing">登録がありません</div>
    <% end %>
  </div>

</div>