<div class="records-month">
  <div class="records-month__title">月次カレンダー</div>
  <div class="">
    <div class="">
      <%= link_to '固定費データ登録', new_fixedcost_value_path %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= link_to '収入データ登録', new_income_value_path %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= link_to '支出データ登録', new_variablecost_value_path %>
    </div>
  </div>

<%= month_calendar events: @all_values do |date, all_value| %>
  <div class="">
    <div class="">
<!--     その日の登録一覧へ   -->
      <%=link_to date.day, {controller: "records", action: "day", start_time: date} %>
    </div>
  </div>
  <div class="records-month__box">
<!-- 支出、固定費、収入の合計 -->
    <% sum_all_values = 0 %>
    <% all_value.each do |item| %>
<!--　 支出、固定費を引き算   -->
      <% if item.code == 2 || item.code == 3 %>
        <% sum_all_values -= item.value %>
<!--       収入を足し算       -->
      <% else %>
        <% sum_all_values += item.value %>
      <% end %>
    <% end %>
    <% unless sum_all_values == 0 %>
      <div class="records-month__head">合計</div>
      <div class="records-month__total">
        <%= sum_all_values %>
      </div>
    <% end %>
  </div>
<% end %>

</div>