<div class="records-month">
  <h2 class="records-month__title">月次カレンダー</h2>
  <div class="links-new">
    <%= render 'variablecost_values/link_new' %>
    <%= render 'fixedcost_values/link_new' %>
    <%= render 'income_values/link_new' %>
  </div>

<%= month_calendar events: @all_values do |date, all_value| %>
    <div class="move-page">
<!--     その日の登録一覧へ   -->
      <%=link_to date.day, {controller: "records", action: "day", start_time: date} %>
    </div>
  <div class="records-month__box">
<!-- 支出、固定費、収入の合計 -->
    <% sum_all_values = 0 %>
    <% all_value.each do |item| %>
<!--　 支出、固定費を引き算   -->
      <% if item.code == 2 || item.code == 3 %>
        <% sum_all_values -= item.value %>
<!--       収入を足し算       -->
      <% else %>
        <% sum_all_values += item.value %>
      <% end %>
    <% end %>
    <% unless sum_all_values == 0 %>
      <div class="records-month__head">合計</div>
      <div class="records-month__total">
        <%= sum_all_values %>
      </div>
    <% end %>
  </div>
<% end %>

</div>