<div class="records-var-day">

  <div class="records-var-day__title">1日の支出一覧</div>
  <div class="">
    <div class="">
      <%= link_to '支出データ登録', new_variablecost_value_path %>
    </div>
  </div>

  <%= render 'variablecost_values/day_select' %>

  <div class="records-var-day__box">
      <div class="records-var-day__head">日付</div>
      <div class="records-var-day__start-time">
        <%= @start_time %>
      </div>
    </div>
  <% if @variablecost_values.present? %>
    <% @variablecost_values.each do |item| %>

      <%= render 'variablecost_values/show', item: item %>

   <% end %>
    <div class="records-var-day__box">
      <div class="records-var-day__head">金額</div>
      <div class="records-var-day__value">
        <%= @variablecost_value_total %> 円
      </div>
    </div>
  <% else %>
    <div class="item-nothing">登録がありません</div>
  <% end %>

</div>