<div class="incomes-index">
  <div class="incomes-index__title">収入項目設定</div>
  <div class="incomes-index__register">
    <%= form_with model: @income, url:incomes_path, local: true do |f| %>
      <%= render 'kakeibo-p/form', f: f %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="incomes-index__list">
    <% if @incomes.present? %>
      <% @incomes.each do |item| %>
        <div class="incomes-index__box">
          <div class="incomes-index__head">項目名</div>
          <div class="incomes-index__name">
            <%= item.name %>
          </div>
        </div>
        <div class="incomes-index__box">
          <div class="incomes-index__head">備考</div>
          <div class="incomes-index__description">
            <%= item.description %>
          </div>
        </div>
        <div class="">
          <div class="">
            <%= link_to '編集する', edit_income_path(item) %>
          </div>
        </div>
        <div class="">
          <div class="">
            <%= link_to '削除する', income_path(item), method: :delete, data: { confirm: '本当に消しますか？' }%>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="item-nothing">登録されている項目はありません</div>
    <% end %>
  </div>
</div>