<div class="variablecost-value-index">
  
  <div class="variablecost-value-index__box">
    <div class="variablecost-value-index__head"></div>
    <div class="variablecost-value-index__item">
      項目<%= item.variablecost.name %>
    </div>
  </div>
  <div class="variablecost-value-index__box">
    <div class="variablecost-value-index__head"></div>
    <div class="variablecost-value-index__content">
      内容<%= item.content %>
    </div>
  </div>
  <div class="variablecost-value-index__box">
    <div class="variablecost-value-index__head"></div>
    <div class="variablecost-value-index__value">
      金額<%= item.value.to_s(:delimited) %>円
    </div>
  </div>
  <div class="variablecost-value-index__box">
    <div class="variablecost-value-index__head"></div>
    <div class="variablecost-value-index__descripion">
      備考<%= item.description %>
    </div>
  </div>
  <div class="">
    <%= link_to '編集する', edit_variablecost_value_path(item) %>
  </div>
  <div class="">
    <%= link_to '削除する', variablecost_value_path(item), method: :delete, data: { confirm: '本当に消しますか？' }%>
  </div>
  
</div>