<h1>削除予定</h1>
日付選択
<%= link_to '収入データ登録', new_variablecost_value_path %>
<%= form_tag({controller: :variablecost_values, action: :index}, {method: :post}) do %>
  <input type="date" name="start_time" >
  <input type="submit" >
<% end %>

<% @variablecost_values.each do |item| %>
  日付<%= item.start_time.strftime('%Y/%m/%d')%>
  項目<%= item.income.name %>
  内容<%= item.content %>
  金額<%= item.value.to_s(:delimited) %>円
  備考<%= item.description %>
  <%= link_to '編集する', edit_variablecost_value_path(item) %>
  <%= link_to '削除する', variablecost_value_path(item), method: :delete, data: { confirm: '本当に消しますか？' }%>
<% end %>