<p>月ごとのグラフ用選択フォーム（削除予定）</p>
<%= form_with url: {controller: 'records', action: 'graph_month'}, method: :get, local: true do |f| %>
  <%= f.month_field "start_time" %>
  <%= f.submit %>
<% end %>
<p>ここまで</p>

<div class="yield-layout">

  <div class="top">
    <h1 class="top__title">私の家計簿</h1>
    <div class="logo">
      <%= image_tag 'pig_white.png', class: 'logo__main' %>
    </div>

    <% if user_signed_in? %>
    <div class="move-page">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'move-page__delete' %>
    </div>
    <% else %>
    <div class="move-page">
      <div class="move-page__sign-up">
        <%= link_to 'サインアップ', new_user_registration_path %>
      </div>
      <div class="move-page__log-in">
        <%= link_to 'ログイン', new_user_session_path %>
      </div>
    </div>
    <% end %>
  </div>

</div>