<div class="variablecosts-index">
  <div class="variablecosts-index__title">支出項目設定</div>
  <div class="variablecosts-index__register">
    <%= form_with model: @variablecost, url:variablecosts_path, local: true do |f| %>
      <%= render 'kakeibo-p/form', f: f %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="variablecosts-index__list">
    <% if @variablecosts.present? %>
      <% @variablecosts.each do |item| %>
        項目名
        <%= item.name %>
        備考
        <%= item.description %>
        <%= link_to '編集する', edit_variablecost_path(item) %>
        <%= link_to '削除する', variablecost_path(item), method: :delete, data: { confirm: '本当に消しますか？' }%>
      <% end %>
    <% else %>
      <div class="item-nothing">登録されている項目はありません</div>
    <% end %>
  </div>
</div>