<div class="fixedcosts-index">
  <div class="fixedcosts-index__title">固定費項目設定</div>
  <div class="fixedcosts-index__register">
    <%= form_with model: @fixedcost, url:fixedcosts_path, local: true do |f| %>
      <%= render 'kakeibo-p/form', f: f %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="fixedcosts-index__list">
    <% if @fixedcosts.present? %>
      <% @fixedcosts.each do |item| %>
        項目名
        <%= item.name %>
        備考
        <%= item.description %>
        <%= link_to '編集する', edit_fixedcost_path(item) %>
        <%= link_to '削除する', fixedcost_path(item), method: :delete, data: { confirm: '本当に消しますか？' }%>
      <% end %>
    <% else %>
      <div class="item-nothing">登録されている項目はありません</div>
    <% end %>
  </div>
</div>