<div class="yield-layout">
  <%= render 'users/info', user: @user %>

  <div class="post-new">
    <h2 class="post-new__title">新規投稿作成</h2>

    <%= form_with model: @post, local: true do |f| %>
      <div class="post-new__content">
        <div class="post-new__title">
          <div class="post-new__h-title">タイトル</div>
          <div class="post-new__l-title">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="post-new__image">
          <div class="post-new__h-image">画像</div>
          <div class="post-new__l-image">
            <%= f.attachment_field :image %>
          </div>
        </div>
        <div class="post-new__body">
          <div class="post-new__h-body">投稿内容</div>
          <div class="post-new__l-body">
            <%= f.text_area :body %>
          </div>
        </div>
      </div>
      <div class="move-page">
        <%= f.submit '投稿する', class:"move-page__btn" %>
      </div>
    <% end %>

  </div>
</div>