<div class="yield-layout">
  <%= render 'users/info', user: @user %>

  <div class="search">
    <% if @model == 'user' %>
      <h2 class="search__title">ユーザー" <%= @content %> "の検索結果</h2>
      <%= render 'users/index', users: @records %>
    <% elsif @model == 'variablecost_value' %>
      <h2 class="search__title">投稿" <%= @content %> "の検索結果</h2>
      <%= render 'posts/index', variablecost_values: @records %>
    <%# else @model == 'variablecost' %>
      <!--<h2 class="search__title">項目" <%#= @content %> "の検索結果</h2>-->
      <%#= render 'posts/index', variablecost_values: @records %>
    <% end %>
  </div>

</div>