<div class="income_values-form">
  
  <div class="income_values-form__box">
    <div class="income_values-form__head">日付</div>
    <div class="income_values-form__date">
      <%= f.date_field :start_time %>
    </div>
  </div>
  
  <% unless @incomes.present? %>

    <div class="income_values-form__box">
      <div class="income_values-form__item">
        <%= link_to '項目を設定', incomes_path(current_user) %>
      </div>
    </div>
  <% else %>
    <div class="income_values-form__box">
      <div class="income_values-form__head">項目を選択</div>
      <div class="income_values-form__item">
        <%= f.collection_select(:income_id, incomes.all, :id, :name, prompt: "選択してください") %>
      </div>
    </div>

  <% end %>
  <div class="income_values-form__box">
    <div class="income_values-form__head">内容</div>
    <div class="income_values-form__content">
      <%= f.text_field :content %>
    </div>
  </div>
  <div class="income_values-form__box">
    <div class="income_values-form__head">金額</div>
    <div class="income_values-form__value">
      <%= f.text_field :value %>
    </div>
  </div>
  <div class="income_values-form__box">
    <div class="income_values-form__head">備考</div>
    <div class="income_values-form__description">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= f.submit %>
    </div>
  </div>

</div>