<div class="yield-layout">

  <div class="values-show">
    <h2 class="values-show__title">収入データ詳細</h2>

    <%= render 'kakeibo-p/links' %>
    <div class="values-show__content">
      <div class="values-show__list">
        <div class="values-show__box">
          <div class="values-show__head">日付</div>
          <div class="values-show__obj">
            <%= @income_value.start_time.strftime('%Y/%m/%d')%>
          </div>
        </div>
        <%= render 'income_values/show', item: @income_value %>
      </div>
      <div class="move-page">
          <%= link_to '編集する', edit_income_value_path(@income_value), class:"move-page__edit" %>
      </div>
      <div class="move-page">
          <%= link_to '削除する', income_value_path(@income_value), method: :delete, data: { confirm: '本当に消しますか？' }, class:"move-page__delete" %>
      </div>
    </div>
    <div class="move-page">
      <%=link_to '今日の登録', day_records_path(start_time: @income_value.start_time.strftime('%Y/%m/%d')) %>
    </div>

  </div>
</div>