<header class="header">
  <nav class="navbar navbar-expend-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span>
          <%= image_tag 'pig_black.png', :size => '30x30', class: 'logo__head' %>私の家計簿
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNavDropdown"style>
        <% if user_signed_in? %>
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to 'マイページ', user_path(current_user) %>
            </li>
            <li>
              <%= link_to '投稿一覧', posts_path %>
            </li>
            <li>
              <%= link_to 'ユーザー一覧', users_path %>
            </li>
            <li>
              <%= link_to '家計簿マイページ', month_records_path(current_user) %>
            </li>
            <li>
              <%= form_with url: {controller: 'records', action: 'graph_month'}, method: :get, local: true do |f| %>
                <div class="records-head">
                  <div class="records-head__select">
                    <div class="records-head__head">月の統計</div>
                    <div class="records-head__box3">
                      <div class="records-head__date">
                        <%= f.month_field "start_time" %>
                        <div class="move-page">
                          <%= f.submit '選択', class:'move-page__select' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </li>
              <%= render 'searchs/form' %>
          </ul>
        <% else %>
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to 'マイページ', root_path %>
            </li>
            <li>
              <%= link_to 'アバウト', home_about_path %>
            </li>
            <li>
              <%= link_to 'サインアップ', new_user_registration_path %>
            </li>
            <li>
              <%= link_to 'ログイン', new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>